<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
    <style>
        main {
            width: 80%;
            margin: 50px auto;
            display: flex;
        }

        #about {
            display: flex;
        }

        @media screen and (max-width:1370px) {
            #aboutimg {
                display: none;
            }
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul id="com_logo">
                <li class="hl_nav"><a href="#"><img class="logo" src="static/img/logo1.jpg" alt="FIND ME"></a></li>
            </ul>

            <ul class="hu_nav">
                <li class="hl_nav"><a class="bor" href="/">Home</a></li>
                <li class="hl_nav"><a class="bor" href="./services">Services</a></li>
                <li class="hl_nav"><a class="bor" href="./about">About</a></li>
                <li class="hl_nav"><a class="bor" href="./contact_us">Contact</a></li>
            </ul>
            <ul class="hu_nav">
                <li class="hl_nav"><a href="./signup"><button class="btn">Sign Up</button></li></a>
                <li class="hl_nav"><a href="./login"><button class="btn">Login</button></li></a>
            </ul>
            <button class="hamburger" onclick="show()"><div class="bar"></div></button>
        </nav>
        <nav class="menu">
            <ul class="menuitems">
                <li><a href="./index">Home</a></li>
                <li><a href="./services">Services</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./contact_us">contact_us</a></li>
                <li><a href="./signup"><button class="btn">Sign Up</button></li></a>
                <li><a href="./login"><button class="btn">Login</button></li></a>
            </ul>
        </nav>
    </header>
    <div id="empty"></div>
    <hr>
    <section class="error">
        <p>To view this website please use a larger screen size device</p>
    </section>
    <main>
        <section id="about">
            <section class="msec_3_1">
                <h2 class="headings"><b>ABOUT US</b></h2>
                <p> We are building an AI-powered platform dedicated to revolutionizing mental health support. Our mission is to make emotional and psychological care accessible anytime, anywhere. With features like 24/7 emotional assistance, an intelligent therapy chatbot, and advanced mood and emotion tracking, our platform offers a personalized approach to mental wellness. We provide users with tailored advice based on their emotional patterns and needs. Designed to be scalable, private, and cost-effective, our solution empowers individuals to take control of their mental health with confidence and convenience. </p>
                <div>
                    <h3 style="margin: 30px;font-size: 30px;">Utilities</h3>
                    <ol type="1">
                        <li style="list-style-position: inside;">AI-Powered Chatbot</li>
                        <li style="list-style-position: inside;">Emotion & Sentiment Analysis using NLP</li>
                        <li style="list-style-position: inside;">Daily Mood Tracker and Journaling</li>
                        <li style="list-style-position: inside;">Crisis Detection & SOS Alerts </li>
                        <li style="list-style-position: inside;">Web and Mobile App Interface</li>
                    </ol>
                </div>
            </section>
            <section id="aboutimg">
                <img src="static\img\About-Us.jpg" alt="About-Us">
            </section>
        </section>
    </main>

    <footer>
        <div id="footer1">
            <div>
                <img class="logo" src="static/img/logo1.jpg" alt="FIND ME">
            </div>
            <br>
            <div>
                <p>Copy Right &copy; All Rights Reserved 2024-2026</p>
            </div>
        </div>
    </footer>
    <script src="./javascript/engine.js"></script>
</body>

</html>